{
  "globals": {
    "chai": true,
    "expect": true,
    "sinon": true
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": 2,
    "no-unused-expressions": 2,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-use-before-define": 0,
    "no-useless-call": 2,
    "no-var": 2,
    "no-trailing-spaces": 2,
    "quotes": [2, "single"],
    "no-param-reassign": ["error", {"props": true}],
    "arrow-parens": ["error", "as-needed"],
    "indent": ["error", 4],
    "no-void": 2,
    "arrow-spacing": 2,
    "complexity": 0,
    "computed-property-spacing": [2, "never"],
    "camelcase": [0, {"properties": "always"}]
  }
}
